<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <!-- Define custom levels before using them for filtering below. -->
    <CustomLevels>

        <CustomLevel name="X" intLevel="50" />
        <CustomLevel name="Y" intLevel="40" />
        <CustomLevel name="Z" intLevel="30" />
        <CustomLevel name="NOTICE" intLevel="350" />


    </CustomLevels>


    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <RollingFile name="Internal" fileName="./logs/internal/internal.log" filePattern="./logs/internal/_%d{yyyyMMdd}/log-%d{yyyyMMdd-HH_mm}.log" >
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="External" fileName="./logs/external/external.log" filePattern="./logs/external/_%d{yyyyMMdd}/log-%d{yyyyMMdd-HH_mm}.log" >
            <PatternLayout pattern="%msg"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>


    </Appenders>
    <!-- <Appenders>


     </Appenders>-->
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="External" level="X"/>
            <AppenderRef ref="Internal" level="NOTICE"/>
        </Root>
    </Loggers>
</Configuration>